<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<script
  	src="https://code.jquery.com/jquery-3.4.1.min.js"
  	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  	crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	</link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Cadastro de Posts</title>
</head>

<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Teste Download</strong>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:action="@{/index}" method="POST"
				style="width: 70%;margin: 10px auto 10px auto">

				<div class="row align-items-center justify-content-center">
					<div class="col-md-6">
						<div class="form-group">
							<label>Nome</label>
							<input 
							type="text" class="form-control input-sm" autofocus="autofocus"
							name="nome" placeholder="Informe o nome" maxlength="50" />
						</div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-6">
						<label>E-mail</label>
						<input type="email" class="form-control input-sm" autofocus="autofocus"
						name="email" placeholder="Informe seu e-mail" maxlength="50" />
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-2">
						<label>Masculino</label>
						<input type="radio" class="form-control input-sm" autofocus="autofocus" name="sexo"
							value="true" checked />
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-2">
						<label>Feminino</label>
						<input type="radio" class="form-control input-sm" autofocus="autofocus" name="sexo"
							value="false" />
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-2">
						<input type="submit" value="Salvar"/>
					</div>
				</div>
			</form>
			<!-- <form class="form-horizontal" th:object="${pessoa}" th:action="@{/download}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div> 					
						<div class="form-group row">
						    <div class="col-md-1">
						        <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
						    </div>
						 </div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
							    <label>Nome</label>
							    <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="50"/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
								<label>T&iacute;tulo</label> 
								<input type="email" class="form-control input-sm" th:field="*{email}" maxlength="150" placeholder="Informe o E-mail"/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-2" th:classappend="${#fields.hasErrors('data')}? 'has-error'">
								<label>Data</label> 
								<input type="date" class="form-control input-sm" th:field="*{data}"/>
							</div>
						</div>						
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('sexo')}? 'has-error'">
								<label>Sexo</label>
                                <input class="form-control input-sm" th:field="*{sexo}" type="radio" name="gender" value="true" checked/>
                                <input class="form-control input-sm" th:field="*{sexo}" type="radio" name="gender" value="false" />
							</div>
						</div>						
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form> -->
		</div>
	</div>
</body>

</html>